@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1E1E1E;
  padding: 0px;
  overflow: hidden;
}

.main-title{
  color: #1A1B1F;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #146C94;
}