@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1E1E1E;
  padding: 0px;
  overflow: hidden;
}

.main-title{
  color: #1A1B1F;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #146C94;
}

.slider-input {
  width: 400px;
  height: 3px;
  -webkit-appearance: none;
  background-color: #2FE6DE;
  outline: none;
  border-radius: 10px;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33px;
  height: 33px;
  background-color: #2FE6DE;
  border-radius: 50%;
  cursor: pointer;
}
.titles{
  color: #1A1B1F;
  font-size: 20px;
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #146C94;
  }

.nutritions-card{
  box-shadow: 4px 4px 4px #00CECB;
  /* filter: blur(2.5px); */
  border-radius: 5px;
}